
.App {
position: relative;
background: transparent;
}



.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./components/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
background-attachment: fixed;
}